body{
    margin: 0;
}

#nav-bar
{
	background-color: #fa9595;
	position: sticky;
	top:0;
	z-index:10;
	float: right;
}
.navbar
{
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fff !important;
font-weight:600;
float:right;
text-align:left;
}

.navbar-brand{
    font-size: 1.5rem;
    color: #5f6368!important;
    
}

.nav-link{
    float: right;
    color: #5f6368!important;
    
}

.nav-link:hover{
    background-color: rgb(167, 167, 247);
}
/* navbar css ends here  */
#main
{
	text-align: center;
background-color: rgba(76, 97, 86, 0.637);
}
.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(6, 76, 88)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(148, 157, 235)!important;
}